## build a baseline model

In [1]:
import pandas as pd

In [3]:
help(pd.DataFrame.query)

Help on function query in module pandas.core.frame:

query(self, expr, inplace=False, **kwargs)
    Query the columns of a frame with a boolean expression.

    Parameters
    ----------
    expr : string
        The query string to evaluate.  You can refer to variables
        in the environment by prefixing them with an '@' character like
        ``@a + b``.
    inplace : bool
        Whether the query should modify the data in place or return
        a modified copy

        .. versionadded:: 0.18.0

    kwargs : dict
        See the documentation for :func:`pandas.eval` for complete details
        on the keyword arguments accepted by :meth:`DataFrame.query`.

    Returns
    -------
    q : DataFrame

    Notes
    -----
    The result of the evaluation of this expression is first passed to
    :attr:`DataFrame.loc` and if that fails because of a
    multidimensional key (e.g., a DataFrame) then the result will be passed
    to :meth:`DataFrame.__getitem__`.

    This method uses the top-level :func:`pandas.eval` function to
    evaluate the passed query.

    The :meth:`~pandas.DataFrame.query` method uses a slightly
    modified Python syntax by default. For example, the ``&`` and ``|``
    (bitwise) operators have the precedence of their boolean cousins,
    :keyword:`and` and :keyword:`or`. This *is* syntactically valid Python,
    however the semantics are different.

    You can change the semantics of the expression by passing the keyword
    argument ``parser='python'``. This enforces the same semantics as
    evaluation in Python space. Likewise, you can pass ``engine='python'``
    to evaluate an expression using Python itself as a backend. This is not
    recommended as it is inefficient compared to using ``numexpr`` as the
    engine.

    The :attr:`DataFrame.index` and
    :attr:`DataFrame.columns` attributes of the
    :class:`~pandas.DataFrame` instance are placed in the query namespace
    by default, which allows you to treat both the index and columns of the
    frame as a column in the frame.
    The identifier ``index`` is used for the frame index; you can also
    use the name of the index to identify it in a query. Please note that
    Python keywords may not be used as identifiers.

    For further details and examples see the ``query`` documentation in
    :ref:`indexing <indexing.query>`.

    See Also
    --------
    pandas.eval
    DataFrame.eval

    Examples
    --------
    >>> from numpy.random import randn
    >>> from pandas import DataFrame
    >>> df = pd.DataFrame(randn(10, 2), columns=list('ab'))
    >>> df.query('a > b')
    >>> df[df.a > df.b]  # same result as the previous expression

In [8]:
import numpy as np
df = pd.DataFrame(np.random.randn(10, 2), columns=list('ab'))

In [9]:
df

          a         b
0 -0.401510  0.955572
1  2.175935 -0.180631
2 -0.138358  1.422634
3 -0.098207  0.400516
4  0.646952 -0.427608
5 -0.164186  0.015988
6  0.489944 -0.837977
7 -0.590133 -0.710723
8  0.463645  1.225749
9 -1.875056  0.805617

In [10]:
test = df.query('a > 0')

In [11]:
test

          a         b
1  2.175935 -0.180631
4  0.646952 -0.427608
6  0.489944 -0.837977
8  0.463645  1.225749

In [12]:
help(test.assign)

Help on method assign in module pandas.core.frame:

assign(**kwargs) method of pandas.core.frame.DataFrame instance
    Assign new columns to a DataFrame, returning a new object
    (a copy) with the new columns added to the original ones.
    Existing columns that are re-assigned will be overwritten.

    Parameters
    ----------
    kwargs : keyword, value pairs
        keywords are the column names. If the values are
        callable, they are computed on the DataFrame and
        assigned to the new columns. The callable must not
        change input DataFrame (though pandas doesn't check it).
        If the values are not callable, (e.g. a Series, scalar, or array),
        they are simply assigned.

    Returns
    -------
    df : DataFrame
        A new DataFrame with the new columns in addition to
        all the existing columns.

    Notes
    -----
    Assigning multiple columns within the same ``assign`` is possible.
    For Python 3.6 and above, later items in '\*\*kwargs' may refer to
    newly created or modified columns in 'df'; items are computed and
    assigned into 'df' in order.  For Python 3.5 and below, the order of
    keyword arguments is not specified, you cannot refer to newly created
    or modified columns. All items are computed first, and then assigned
    in alphabetical order.

    .. versionchanged :: 0.23.0

        Keyword argument order is maintained for Python 3.6 and later.

    Examples
    --------
    >>> df = pd.DataFrame({'A': range(1, 11), 'B': np.random.randn(10)})

    Where the value is a callable, evaluated on `df`:

    >>> df.assign(ln_A = lambda x: np.log(x.A))
        A         B      ln_A
    0   1  0.426905  0.000000
    1   2 -0.780949  0.693147
    2   3 -0.418711  1.098612
    3   4 -0.269708  1.386294
    4   5 -0.274002  1.609438
    5   6 -0.500792  1.791759
    6   7  1.649697  1.945910
    7   8 -1.495604  2.079442
    8   9  0.549296  2.197225
    9  10 -0.758542  2.302585

    Where the value already exists and is inserted:

    >>> newcol = np.log(df['A'])
    >>> df.assign(ln_A=newcol)
        A         B      ln_A
    0   1  0.426905  0.000000
    1   2 -0.780949  0.693147
    2   3 -0.418711  1.098612
    3   4 -0.269708  1.386294
    4   5 -0.274002  1.609438
    5   6 -0.500792  1.791759
    6   7  1.649697  1.945910
    7   8 -1.495604  2.079442
    8   9  0.549296  2.197225
    9  10 -0.758542  2.302585

    Where the keyword arguments depend on each other

    >>> df = pd.DataFrame({'A': [1, 2, 3]})

    >>> df.assign(B=df.A, C=lambda x:x['A']+ x['B'])
        A  B  C
     0  1  1  2
     1  2  2  4
     2  3  3  6

In [23]:
test2 = df.assign(gz = lambda x: df.a > 0, testMultiColum = True)

In [25]:
test2.gz.astype(int)

0    0
1    1
2    0
3    0
4    1
5    0
6    1
7    0
8    1
9    0
Name: gz, dtype: int32

In [33]:
test2.gz.map(lambda x : int(x))

0    0
1    1
2    0
3    0
4    1
5    0
6    1
7    0
8    1
9    0
Name: gz, dtype: int64

In [44]:
def testf(x):
    x['gz'] = int(x['gz'])
    return x
test2.apply(testf, axis='columns')

          a         b  gz  testMultiColum
0 -0.401510  0.955572   0            True
1  2.175935 -0.180631   1            True
2 -0.138358  1.422634   0            True
3 -0.098207  0.400516   0            True
4  0.646952 -0.427608   1            True
5 -0.164186  0.015988   0            True
6  0.489944 -0.837977   1            True
7 -0.590133 -0.710723   0            True
8  0.463645  1.225749   1            True
9 -1.875056  0.805617   0            True